<!DOCTYPE html>
<html>
  <head>
    <title>Event Density Viewer</title>
  </head>
  <body>
    <h1>Enter Smart Contract Address and Select Network</h1>
    <form method="post">
      Smart Contract Address: <input type="text" name="address" /><br />
      Network:
      <select name="network">
        <option value="arbitrum">Arbitrum</option>
        <option value="base">Base</option>
        <option value="bsc">BSC</option>
        <option value="eth">Ethereum</option>
        <option value="gnosis">Gnosis</option>
        <option value="goerli">Goerli</option>
        <option value="linea">Linea</option>
        <option value="optimism">Optimism</option>
        <option value="polygon">Polygon</option>
        <option value="scroll">Scroll</option>
        <option value="sepolia">Sepolia</option>
        <option value="taiko_jolnr">Taiko Jolnr</option>
        <option value="manta">Manta</option>
        <option value="polygon_zkevm">Polygon ZkEVM</option>
        <option value="metis">Metis</option>
        <option value="kroma">Kroma</option>
        <option value="celo">Celo</option>
        <option value="zksync">zkSync</option>
        <option value="okbc_testnet">OKBC Testnet</option></select
      ><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
