<!DOCTYPE html>
<html>
  <head>
    <title>Plot Result</title>
  </head>
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-S9M1R97JGR"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-S9M1R97JGR");
  </script>
  <body>
    <img src="{{ plot_url }}" />
    <br />
    <a href="/">Make another request</a>
  </body>
</html>
